In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('spain_menorca.csv')
data.head(5)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,44085,https://www.airbnb.com/rooms/44085,20240929225618,2024-09-30,city scrape,Villa in Addaia great sea view and fun pool,Best view ever on the bay of Port d'Addaia and...,NaN,https://a0.muscache.com/pictures/1ea5fde7-3686...,193043,...,4.86,4.75,4.30,ET3036ME,f,3,3,0,0,0.14
1,102558,https://www.airbnb.com/rooms/102558,20240929225618,2024-09-30,city scrape,appartment in Menorca -Cala Galdana,NaN,NaN,https://a0.muscache.com/pictures/23614875/ac08...,536023,...,4.89,4.77,4.51,ET2253ME,f,1,1,0,0,0.40
2,294398,https://www.airbnb.com/rooms/294398,20240929225618,2024-09-30,city scrape,Son Esquella - Charming Menorca,Beautiful Menorcan farmhouse for 17 people.,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,312145,...,4.91,4.50,4.40,NaN,f,3,3,0,0,0.10
3,295705,https://www.airbnb.com/rooms/295705,20240929225618,2024-09-30,city scrape,The Most Perfect Villa in Menorca!,Binisegarra is a beautiful villa near Cala Emp...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,312145,...,4.78,4.70,4.57,NaN,f,3,3,0,0,0.16
4,357026,https://www.airbnb.com/rooms/357026,20240929225618,2024-09-30,city scrape,Coqueto apartamento Son Bou Menorca + Rent our...,NaN,NaN,https://a0.muscache.com/pictures/7506410/6f94b...,1740878,...,5.00,4.94,4.91,Licencia San Jaume Zona 5 APM-1880,f,1,1,0,0,0.53

In [19]:
#eliminamos las columnas que no nos interesan
data2=data.drop(['listing_url','scrape_id','source','name','description','neighborhood_overview','picture_url','host_url','host_about','host_thumbnail_url','host_picture_url','host_neighbourhood','host_verifications','neighbourhood','neighbourhood_cleansed','neighbourhood_group_cleansed','latitude','longitude','amenities','calendar_updated','availability_60','availability_365','review_scores_communication','review_scores_value','calculated_host_listings_count'], axis=1)
data2

,id,last_scraped,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_location,license,instant_bookable,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,44085,2024-09-30,193043,Manuela,2010-08-06,"Sant Lluís, Spain",within an hour,100%,100%,t,...,4.76,4.62,4.75,4.75,ET3036ME,f,3,0,0,0.14
1,102558,2024-09-30,536023,Yolanda,2011-04-26,"Barcelona, Spain",within a few hours,100%,94%,f,...,4.77,4.68,4.75,4.77,ET2253ME,f,1,0,0,0.40
2,294398,2024-09-30,312145,Natalia,2010-12-07,"Madrid, Spain",a few days or more,20%,0%,f,...,4.45,4.27,4.50,4.50,NaN,f,3,0,0,0.10
3,295705,2024-09-30,312145,Natalia,2010-12-07,"Madrid, Spain",a few days or more,20%,0%,f,...,4.79,4.54,4.65,4.70,NaN,f,3,0,0,0.16
4,357026,2024-09-30,1740878,Emilio,2012-02-12,"Torrent, Spain",within an hour,100%,83%,t,...,4.96,4.99,4.95,4.94,Licencia San Jaume Zona 5 APM-1880,f,1,0,0,0.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3940,1255100873732921389,2024-09-30,577475733,Bahira,2024-05-14,NaN,NaN,NaN,NaN,f,...,NaN,NaN,NaN,NaN,ET 1607 ME,t,8,0,0,NaN
3941,1255101910775870026,2024-09-30,577475733,Bahira,2024-05-14,NaN,NaN,NaN,NaN,f,...,NaN,NaN,NaN,NaN,HT 051 ME,t,8,0,0,NaN
3942,1255102197800461076,2024-09-30,577475733,Bahira,2024-05-14,NaN,NaN,NaN,NaN,f,...,NaN,NaN,NaN,NaN,ET/184,t,8,0,0,NaN
3943,1255103450481866634,2024-09-30,577475733,Bahira,2024-05-14,NaN,NaN,NaN,NaN,f,...,NaN,NaN,NaN,NaN,HT 044 ME,t,8,0,0,NaN
3944,1255523037205321777,2024-09-30,549699849,Holidu,2023-12-06,"Madrid, Spain",within an hour,100%,99%,f,...,NaN,NaN,NaN,NaN,ET1100ME,t,7,0,0,NaN

In [20]:
#identificar la cantidad de nulos por columna
valores_nulos=data2.isnull().sum()
valores_nulos

id                                                 0
last_scraped                                       0
host_id                                            0
host_name                                          0
host_since                                         0
host_location                                   1322
host_response_time                               253
host_response_rate                               253
host_acceptance_rate                             132
host_is_superhost                                 25
host_listings_count                                0
host_total_listings_count                          0
host_has_profile_pic                               0
host_identity_verified                             0
property_type                                      0
room_type                                          0
accommodates                                       0
bathrooms                                        471
bathrooms_text                                     6
bedrooms                                          12
beds                                             471
price                                            470
minimum_nights                                     0
maximum_nights                                     0
minimum_minimum_nights                             0
maximum_minimum_nights                             0
minimum_maximum_nights                             0
maximum_maximum_nights                             0
minimum_nights_avg_ntm                             0
maximum_nights_avg_ntm                             0
has_availability                                   9
availability_30                                    0
availability_90                                    0
calendar_last_scraped                              0
number_of_reviews                                  0
number_of_reviews_ltm                              0
number_of_reviews_l30d                             0
first_review                                     627
last_review                                      627
review_scores_rating                             627
review_scores_accuracy                           627
review_scores_cleanliness                        627
review_scores_checkin                            627
review_scores_location                           628
license                                         1467
instant_bookable                                   0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                                627
dtype: int64

In [21]:
#identificar nulos por dataframe 
valores_nulos=data.isnull().sum().sum()
valores_nulos

np.int64(28386)

In [22]:
data2["reviews_per_month"]=data2["reviews_per_month"].fillna(round(data["reviews_per_month"].mean(),1))
#rellena con el promedio de la columna todos los vacios de la columna

In [23]:
#identificar la cantidad de nulos por columna
valores_nulos=data2.isnull().sum()
valores_nulos

id                                                 0
last_scraped                                       0
host_id                                            0
host_name                                          0
host_since                                         0
host_location                                   1322
host_response_time                               253
host_response_rate                               253
host_acceptance_rate                             132
host_is_superhost                                 25
host_listings_count                                0
host_total_listings_count                          0
host_has_profile_pic                               0
host_identity_verified                             0
property_type                                      0
room_type                                          0
accommodates                                       0
bathrooms                                        471
bathrooms_text                                     6
bedrooms                                          12
beds                                             471
price                                            470
minimum_nights                                     0
maximum_nights                                     0
minimum_minimum_nights                             0
maximum_minimum_nights                             0
minimum_maximum_nights                             0
maximum_maximum_nights                             0
minimum_nights_avg_ntm                             0
maximum_nights_avg_ntm                             0
has_availability                                   9
availability_30                                    0
availability_90                                    0
calendar_last_scraped                              0
number_of_reviews                                  0
number_of_reviews_ltm                              0
number_of_reviews_l30d                             0
first_review                                     627
last_review                                      627
review_scores_rating                             627
review_scores_accuracy                           627
review_scores_cleanliness                        627
review_scores_checkin                            627
review_scores_location                           628
license                                         1467
instant_bookable                                   0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                                  0
dtype: int64

In [25]:
data2["beds"]=data2["beds"].fillna(round(data["beds"].mean(),1))
#rellena con el promedio de la columna todos los vacios de la columna

In [26]:
data2["bathrooms"]=data2["bathrooms"].fillna(round(data["bathrooms"].mean(),1))
#rellena con el promedio de la columna todos los vacios de la columna

In [29]:
#identificar la cantidad de nulos por columna
valores_nulos=data2.isnull().sum()
valores_nulos

id                                                 0
last_scraped                                       0
host_id                                            0
host_name                                          0
host_since                                         0
host_location                                   1322
host_response_time                               253
host_response_rate                               253
host_acceptance_rate                             132
host_is_superhost                                 25
host_listings_count                                0
host_total_listings_count                          0
host_has_profile_pic                               0
host_identity_verified                             0
property_type                                      0
room_type                                          0
accommodates                                       0
bathrooms                                          0
bathrooms_text                                     6
bedrooms                                          12
beds                                               0
price                                            470
minimum_nights                                     0
maximum_nights                                     0
minimum_minimum_nights                             0
maximum_minimum_nights                             0
minimum_maximum_nights                             0
maximum_maximum_nights                             0
minimum_nights_avg_ntm                             0
maximum_nights_avg_ntm                             0
has_availability                                   9
availability_30                                    0
availability_90                                    0
calendar_last_scraped                              0
number_of_reviews                                  0
number_of_reviews_ltm                              0
number_of_reviews_l30d                             0
first_review                                     627
last_review                                      627
review_scores_rating                             627
review_scores_accuracy                           627
review_scores_cleanliness                        627
review_scores_checkin                            627
review_scores_location                           628
license                                         1467
instant_bookable                                   0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                                  0
dtype: int64

In [31]:
#identificar nulos por dataframe 
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(8339)

In [32]:
#sustituir vaolres nulos, los rellena hacia adleante
#rellena los nulos con el valor     anterior
#foward fill(ffill)
#filtro por columnas
#tanto para variables categoricas como numericas
data2["host_location"]=data2["host_location"].fillna(method="ffill")

C:\Users\ben31\AppData\Local\Temp\ipykernel_1516\1135031775.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["host_location"]=data2["host_location"].fillna(method="ffill")

In [33]:
#sustituir vaolres nulos, los rellena hacia adleante
#rellena los nulos con el valor     anterior
#tanto para variables categoricas como numericas
data2["host_response_time"]=data2["host_response_time"].fillna(method="ffill")

C:\Users\ben31\AppData\Local\Temp\ipykernel_1516\1557432525.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["host_response_time"]=data2["host_response_time"].fillna(method="ffill")

In [34]:
#sustituir vaolres nulos, los rellena hacia adleante
#rellena los nulos con el valor     anterior
#tanto para variables categoricas como numericas
data2["price"]=data2["price"].fillna(method="ffill")

C:\Users\ben31\AppData\Local\Temp\ipykernel_1516\2509889057.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["price"]=data2["price"].fillna(method="ffill")

In [35]:
#identificar nulos por dataframe 
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(6294)

In [36]:
#identificar la cantidad de nulos por columna
valores_nulos=data2.isnull().sum()
valores_nulos

id                                                 0
last_scraped                                       0
host_id                                            0
host_name                                          0
host_since                                         0
host_location                                      0
host_response_time                                 0
host_response_rate                               253
host_acceptance_rate                             132
host_is_superhost                                 25
host_listings_count                                0
host_total_listings_count                          0
host_has_profile_pic                               0
host_identity_verified                             0
property_type                                      0
room_type                                          0
accommodates                                       0
bathrooms                                          0
bathrooms_text                                     6
bedrooms                                          12
beds                                               0
price                                              0
minimum_nights                                     0
maximum_nights                                     0
minimum_minimum_nights                             0
maximum_minimum_nights                             0
minimum_maximum_nights                             0
maximum_maximum_nights                             0
minimum_nights_avg_ntm                             0
maximum_nights_avg_ntm                             0
has_availability                                   9
availability_30                                    0
availability_90                                    0
calendar_last_scraped                              0
number_of_reviews                                  0
number_of_reviews_ltm                              0
number_of_reviews_l30d                             0
first_review                                     627
last_review                                      627
review_scores_rating                             627
review_scores_accuracy                           627
review_scores_cleanliness                        627
review_scores_checkin                            627
review_scores_location                           628
license                                         1467
instant_bookable                                   0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                                  0
dtype: int64

In [38]:
data2["review_scores_location"]=data2["review_scores_location"].fillna(round(data["review_scores_location"].mean(),1))
#rellena con el promedio de la columna todos los vacios de la columna

In [39]:
data2["review_scores_checkin"]=data2["review_scores_checkin"].fillna(round(data["review_scores_checkin"].mean(),1))
#rellena con el promedio de la columna todos los vacios de la columna

In [40]:
data2["review_scores_cleanliness"]=data2["review_scores_cleanliness"].fillna(round(data["review_scores_cleanliness"].mean(),1))
#rellena con el promedio de la columna todos los vacios de la columna

In [41]:
data2["review_scores_accuracy"]=data2["review_scores_accuracy"].fillna(round(data["review_scores_accuracy"].mean(),1))
#rellena con el promedio de la columna todos los vacios de la columna

In [43]:
#identificar nulos por dataframe 
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(3785)

In [44]:
#identificar la cantidad de nulos por columna
valores_nulos=data2.isnull().sum()
valores_nulos

id                                                 0
last_scraped                                       0
host_id                                            0
host_name                                          0
host_since                                         0
host_location                                      0
host_response_time                                 0
host_response_rate                               253
host_acceptance_rate                             132
host_is_superhost                                 25
host_listings_count                                0
host_total_listings_count                          0
host_has_profile_pic                               0
host_identity_verified                             0
property_type                                      0
room_type                                          0
accommodates                                       0
bathrooms                                          0
bathrooms_text                                     6
bedrooms                                          12
beds                                               0
price                                              0
minimum_nights                                     0
maximum_nights                                     0
minimum_minimum_nights                             0
maximum_minimum_nights                             0
minimum_maximum_nights                             0
maximum_maximum_nights                             0
minimum_nights_avg_ntm                             0
maximum_nights_avg_ntm                             0
has_availability                                   9
availability_30                                    0
availability_90                                    0
calendar_last_scraped                              0
number_of_reviews                                  0
number_of_reviews_ltm                              0
number_of_reviews_l30d                             0
first_review                                     627
last_review                                      627
review_scores_rating                             627
review_scores_accuracy                             0
review_scores_cleanliness                          0
review_scores_checkin                              0
review_scores_location                             0
license                                         1467
instant_bookable                                   0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                                  0
dtype: int64

In [45]:
#sustituir vaolres nulos, los rellena hacia adleante
#rellena los nulos con el valor     anterior
#tanto para variables categoricas como numericas
data2["license"]=data2["license"].fillna(method="ffill")

C:\Users\ben31\AppData\Local\Temp\ipykernel_1516\3586509707.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["license"]=data2["license"].fillna(method="ffill")

In [49]:
data2["bedrooms"]=data2["bedrooms"].fillna(round(data["bedrooms"].mean(),1))
#rellena con el promedio de la columna todos los vacios de la columna

In [51]:
#sustituir vaolres nulos, los rellena hacia adleante
#rellena los nulos con el valor     anterior
#tanto para variables categoricas como numericas
data2["bathrooms_text"]=data2["bathrooms_text"].fillna(method="ffill")

C:\Users\ben31\AppData\Local\Temp\ipykernel_1516\4258909381.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["bathrooms_text"]=data2["bathrooms_text"].fillna(method="ffill")

In [52]:
#identificar la cantidad de nulos por columna
valores_nulos=data2.isnull().sum()
valores_nulos

id                                                0
last_scraped                                      0
host_id                                           0
host_name                                         0
host_since                                        0
host_location                                     0
host_response_time                                0
host_response_rate                              253
host_acceptance_rate                            132
host_is_superhost                                25
host_listings_count                               0
host_total_listings_count                         0
host_has_profile_pic                              0
host_identity_verified                            0
property_type                                     0
room_type                                         0
accommodates                                      0
bathrooms                                         0
bathrooms_text                                    0
bedrooms                                          0
beds                                              0
price                                             0
minimum_nights                                    0
maximum_nights                                    0
minimum_minimum_nights                            0
maximum_minimum_nights                            0
minimum_maximum_nights                            0
maximum_maximum_nights                            0
minimum_nights_avg_ntm                            0
maximum_nights_avg_ntm                            0
has_availability                                  9
availability_30                                   0
availability_90                                   0
calendar_last_scraped                             0
number_of_reviews                                 0
number_of_reviews_ltm                             0
number_of_reviews_l30d                            0
first_review                                    627
last_review                                     627
review_scores_rating                            627
review_scores_accuracy                            0
review_scores_cleanliness                         0
review_scores_checkin                             0
review_scores_location                            0
license                                           0
instant_bookable                                  0
calculated_host_listings_count_entire_homes       0
calculated_host_listings_count_private_rooms      0
calculated_host_listings_count_shared_rooms       0
reviews_per_month                                 0
dtype: int64

In [54]:
#metodos de susticion por un string en concreto
data2["host_is_superhost"]=data2["host_is_superhost"].fillna("f")

In [57]:
data2["review_scores_rating"]=data2["review_scores_rating"].fillna(round(data["review_scores_rating"].mean(),1))
#rellena con el promedio de la columna todos los vacios de la columna

In [58]:
#sustituir vaolres nulos, los rellena hacia adleante
#rellena los nulos con el valor     anterior
#tanto para variables categoricas como numericas
data2["host_response_rate"]=data2["host_response_rate"].fillna(method="ffill")

C:\Users\ben31\AppData\Local\Temp\ipykernel_1516\1424523949.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["host_response_rate"]=data2["host_response_rate"].fillna(method="ffill")

In [59]:
#sustituir vaolres nulos, los rellena hacia adleante
#rellena los nulos con el valor     anterior
#tanto para variables categoricas como numericas
data2["host_acceptance_rate"]=data2["host_acceptance_rate"].fillna(method="ffill")

C:\Users\ben31\AppData\Local\Temp\ipykernel_1516\2780493087.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["host_acceptance_rate"]=data2["host_acceptance_rate"].fillna(method="ffill")

In [60]:
#sustituir vaolres nulos, los rellena hacia adleante
#rellena los nulos con el valor     anterior
#tanto para variables categoricas como numericas
data2["has_availability"]=data2["has_availability"].fillna(method="ffill")

C:\Users\ben31\AppData\Local\Temp\ipykernel_1516\554266621.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["has_availability"]=data2["has_availability"].fillna(method="ffill")

In [61]:
#identificar la cantidad de nulos por columna
valores_nulos=data2.isnull().sum()
valores_nulos

id                                                0
last_scraped                                      0
host_id                                           0
host_name                                         0
host_since                                        0
host_location                                     0
host_response_time                                0
host_response_rate                                0
host_acceptance_rate                              0
host_is_superhost                                 0
host_listings_count                               0
host_total_listings_count                         0
host_has_profile_pic                              0
host_identity_verified                            0
property_type                                     0
room_type                                         0
accommodates                                      0
bathrooms                                         0
bathrooms_text                                    0
bedrooms                                          0
beds                                              0
price                                             0
minimum_nights                                    0
maximum_nights                                    0
minimum_minimum_nights                            0
maximum_minimum_nights                            0
minimum_maximum_nights                            0
maximum_maximum_nights                            0
minimum_nights_avg_ntm                            0
maximum_nights_avg_ntm                            0
has_availability                                  0
availability_30                                   0
availability_90                                   0
calendar_last_scraped                             0
number_of_reviews                                 0
number_of_reviews_ltm                             0
number_of_reviews_l30d                            0
first_review                                    627
last_review                                     627
review_scores_rating                              0
review_scores_accuracy                            0
review_scores_cleanliness                         0
review_scores_checkin                             0
review_scores_location                            0
license                                           0
instant_bookable                                  0
calculated_host_listings_count_entire_homes       0
calculated_host_listings_count_private_rooms      0
calculated_host_listings_count_shared_rooms       0
reviews_per_month                                 0
dtype: int64

In [62]:
#sustituir vaolres nulos, los rellena hacia adleante
#rellena los nulos con el valor     anterior
#tanto para variables categoricas como numericas
data2["first_review"]=data2["first_review"].fillna(method="ffill")

C:\Users\ben31\AppData\Local\Temp\ipykernel_1516\2433753097.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["first_review"]=data2["first_review"].fillna(method="ffill")

In [70]:
#sustituir valores nulos, los rellena hacia atras backward fill
#filtro por columnas
#tanto para variables categoricas como numericas
data2["last_review"]=data2["last_review"].fillna(method="ffill")

C:\Users\ben31\AppData\Local\Temp\ipykernel_1516\1557644180.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["last_review"]=data2["last_review"].fillna(method="ffill")

In [71]:
#identificar la cantidad de nulos por columna
valores_nulos=data2.isnull().sum()
valores_nulos

id                                              0
last_scraped                                    0
host_id                                         0
host_name                                       0
host_since                                      0
host_location                                   0
host_response_time                              0
host_response_rate                              0
host_acceptance_rate                            0
host_is_superhost                               0
host_listings_count                             0
host_total_listings_count                       0
host_has_profile_pic                            0
host_identity_verified                          0
property_type                                   0
room_type                                       0
accommodates                                    0
bathrooms                                       0
bathrooms_text                                  0
bedrooms                                        0
beds                                            0
price                                           0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
has_availability                                0
availability_30                                 0
availability_90                                 0
calendar_last_scraped                           0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
first_review                                    0
last_review                                     0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_location                          0
license                                         0
instant_bookable                                0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

In [72]:
#identificar nulos por dataframe 
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(0)

In [73]:
data2.to_csv("spain_menorca_limpio.csv")